body {
    margin: 5%;
    background: url('../images/background.jpg');
    background-size: 100%;
}

.form-container {
    width: 30%;
    background-color: #fff;
    padding: 30px;
    border-radius: 30px;
}

.btn-danger {
    margin-top: 10px;
}

.form-item {
    margin-top: 15px;
}

.form-check-input {
    margin-left: 10px;
}